<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tutorial.deeplayer.app.deeplayer">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission android:name="android.permission.MEDIA_CONTENT_CONTROL" />

    <application
        android:name=".app.DeePlayerApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name=".activities.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/CustomBaseTheme"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <provider
            android:name=".data.generated.SchematicDataProvider"
            android:authorities="com.tutorial.deeplayer.app.deeplayer.authority"
            android:enabled="true"
            android:exported="false" />

        <activity
            android:name=".activities.MixActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_mix"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/CustomBaseTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tutorial.deeplayer.app.deeplayer.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.RecommendationsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_recommendations"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/CustomBaseTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tutorial.deeplayer.app.deeplayer.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.UserLibraryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_user_library"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/CustomBaseTheme"
            android:windowSoftInputMode="stateAlwaysHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tutorial.deeplayer.app.deeplayer.activities.MainActivity" />
        </activity>
        <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings" />

        <service android:name=".services.MusicService" />
        <!--
         Allows specific classes to handle broadcasts
         -  (on this case, two buttons clicked on the Notification)
        -->
        <receiver android:name=".notifications.NotificationMusic$NotificationPlayButtonHandler" />
        <receiver android:name=".notifications.NotificationMusic$NotificationSkipButtonHandler" />
        <receiver android:name=".notifications.NotificationMusic$NotificationLikeButtonHandler" />
        <receiver android:name=".services.MusicService$ExternalBroadcastReceiver">
            <intent-filter>

                <!-- Disconnected Headphones -->
                <action android:name="android.media.AUDIO_BECOMING_NOISY" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.tutorial.deeplayer.app.deeplayer.services.MUSIC_SERVICE" />
            </intent-filter>
        </receiver>
    </application>

</manifest>
